body {
  background-color: black;
}

h2 {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  
}


.movies {
  display: flex;
  overflow-x: auto;
    
}

.movies img {
  width: 250px;
  height: 140px;
}